[submodule "warp/2021"]
	path = warp/2021
	url = git@github.com:Eigo-Mt-Fuji/portfolio-2021.git
[submodule "playground/milano-app"]
	path = playground/milano-app
	url = git@github.com:Eigo-Mt-Fuji/milano-app.git
[submodule "playground/eigo-nft"]
	path = playground/eigo-nft
	url = git@github.com:Eigo-Mt-Fuji/eigo-nft.git
[submodule "playground/fx-report"]
	path = playground/fx-report
	url = git@github.com:Eigo-Mt-Fuji/fx-report.git
[submodule "playground/fx-report-api"]
	path = playground/fx-report-api
	url = git@github.com:Eigo-Mt-Fuji/fx-report-api.git
[submodule "nextjs-neardev-rust-template"]
	path = playground/awesome-rust-dapp
	url = git@github.com:Eigo-Mt-Fuji/nextjs-neardev-rust-template.git
[submodule "my-zenn-dev"]
	path = playground/my-zenn-dev
	url = git@github.com:Eigo-Mt-Fuji/my-zenn-dev.git
